<div class="container-fluid">
<div class="row-fluid">
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="col-md-6">
  <%=form_tag('/user/existing', method: "post", :id => "user_existing", :class=> "form-signin") do%>
      <h2 class="form-signin-heading">Existing User</h2>

      <input  type="text" id="user[email]" name="user[email]" class="validate form-control" placeholder="Email"/>   <br/>

      <input  type="password" id="user[password]" name="user[password]" class="validate form-control" placeholder="Password"/>   <br>

      <%= submit_tag("Sign in", :class=> "btn btn-lg btn-primary btn-block") %>

  <% end %>
</div>
<div class="col-md-6">

  <%=form_tag('/user/create', method: "post", :id => "user_registration", :class=> "form-signin") do%>
      <h2 class="form-signin-heading">New Signup</h2>

       <input type="text" id="user[name]" name="user[name]" class="validate form-control" placeholder="First name"/>    <br/>

       <input  type="text" id="user[last_name]" name="user[last_name]" class="validate form-control"  placeholder="Last name"/>  <br/>

       <input  type="text" id="user[email]" name="user[email]" class="validate form-control" placeholder="Email"/>   <br/>

       <input  type="text" id="user[confirmation_email]" name="user[confirmation_email]" class="validate form-control" placeholder="Confirm email"/>   <br>

      <input  type="password" id="user[password]" name="user[password]" class="validate form-control" placeholder="Password"/>   <br>

      <input  type="password" id="user[confirmation_password]" name="user[confirmation_password]" class="validate form-control" placeholder="Password"/>   <br>

      <%= submit_tag("Sign Up", :class=> "btn btn-lg btn-primary btn-block") %>

<% end %>
</div>
</div>
</div>
