<div id='cart'>
  <form method='post' action='/carts/update'>
    <p>You have asked for <span data-bind='text: lineitems().length'>&nbsp;</span> item(s)</p>
    <table data-bind='visible: lineitems().length > 0'>
      <thead>
      <tr>
        <th>Id</th>
        <td>Quantity</td>
        <th>Price</th>
        <th />
      </tr>
      </thead>
      <tbody data-bind='foreach: lineitems'>
      <tr>
        <td><span data-bind='text: product_id, uniqueName: true' /></td>
        <td><input class='required number' data-bind='value: quantity, uniqueName: true' required digits='true' size='4'/></td>
        <td><span data-bind='text: unit_price, uniqueName: true' /></td>
        <td><a href='#' data-bind='click: $root.removeLineItem'>Delete</a></td>
      </tr>
      </tbody>
    </table>
    <button data-bind='enable: lineitems().length > 0' type='submit'>Update</button>
  </form>
</div>

<%@products.each do |product|%>
    <%=form_tag('/carts/add', method: "post") do%>
   <h1><%=product.category.name%></h1>
        <h2><%=product.name%></h2>
        <%= hidden_field(:product,:id, :value => product.id)%>
        <div>Quanity to buy <%=text_field(:product, :quantity)%></div>
    <%= submit_tag("Add to Cart") %>
<% end %>
<%end%>