<div class="row">
  <div class="col-md-8">
  <%@products.each do |product|%>
    <div class="col-md-6">
      <div class="panel panel-primary">
    <%=form_tag('/carts/add', method: "post", :id => "product_form_#{product.id.to_s}" ) do%>
          <div class="panel-heading">
            <h3 class="panel-title"><%=product.category.name%></h3>
          </div>
          <div class="panel-body">
            <%=product.name%> <br/>
            Price: <span id="product_price_<%=product.id.to_s%>"></span>

            <%= hidden_field(:product,:id, :value => product.id)%>
            <div>Quanity to buy <%=text_field(:product, :quantity, :class => 'digits')%></div>
            <%= submit_tag("Add to Cart",:class => "btn btn-xs btn-primary") %>
            <script>
                $("#product_price_<%=product.id.to_s%>").text(formatCurrency(<%=product.get_product_price[:price]%>));

                var rules = {};

                $("#product_form_<%=product.id.to_s%> input.digits").each(function () {
                    rules[this.id] = { required: true,
                        digits:true };
                });

                $("#product_form_<%=product.id.to_s%>").validate({
                    rules: rules
                });

            </script>
          </div>
<% end %>
      </div>
    </div>
<%end%>
  </div>
  <div class="col-md-4">
    <%=render 'carts/cart'%>
  </div>
</div>
