<%=render 'carts/cart'%>

<%@products.each do |product|%>
    <%=form_tag('/carts/add', method: "post", :id => "product_form_#{product.id.to_s}" ) do%>
   <h1><%=product.category.name%></h1>
        <h2><%=product.name%></h2>
        <%= hidden_field(:product,:id, :value => product.id)%>
        <div>Quanity to buy <%=text_field(:product, :quantity, :class => 'digits')%></div>
    <%= submit_tag("Add to Cart") %>
        <script>
            var rules = {};

            $("#product_form_<%=product.id.to_s%> input.digits").each(function () {
                rules[this.id] = { required: true,
                                   digits:true };
            });

            $("#product_form_<%=product.id.to_s%>").validate({
                rules: rules
            });

        </script>
<% end %>
<%end%>